* {
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.header-section {
  background-image: Linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Banner\ Image.png");
  /* background-image: url(resources/Banner\ Image.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 85%;
  margin: 50px auto;
  border-radius: 16px;
}

.header-container {
  text-align: center;
  padding: 280px 400px;
}


.header-title {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  margin-bottom: 16px;
}

.header-subtitle {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

.happy-section {
  text-align: center;
  margin-top: 120px;
}

.happy-title {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}

.happy-subtitle {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 16px;
}

.happy-cat {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

.happy-image {
  margin-bottom: 120px;
}


.welcome-section {
  background-image: Linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url("resources/Vectorrr.png");
  /* background-image: url(resources/Banner\ Image.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 85%;
  margin: 50px auto;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-around;
}


.welcome-title {
  color: #FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.welcome-description {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.welcome-join {
  color: #FFF;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 30px;
}
.welcome-container{
width: 700px;
}

.welcome-image{
  width: 320px;
}